* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(./assets/rohit-mishra-5VnAxCQ4cDQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px 15px;
}

.navbar ul.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  font-size: 25px;
  color: #fff222;
}

button {
  background: #a83252;
  padding: 10px 25px;
  border: none;
  border-radius: 1px;
  color: #fff;
  font-size: 18px;
}
.main {
  text-align: center;
}

.main-heading {
  font-size: 100px;
  padding: 100px;
  color: yellow;
  line-height: 90px;
  font-weight: bold;
}

button.main-button {
  font-size: 20px;
  padding: 15px 40px;
}
